<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div class="container">
        <p class="float-end mb-1">
            <a href="#">Вернуться наверх</a>
        </p>
        <p class="mb-1">2024 МАИ Дипломная работа</p>
        <p class="mb-0">Кафедра 316: <a href="https://institutes.mai.ru/control/316/?referer=https%3A%2F%2Fwww.google.com%2F">Главная страница кафедры</a>. Главная страница университета: <a href="https://mai.ru/">Перейти</a>.</p>
        </div>
    </footer>
</div>