<configuration>

    <!-- Определение шаблона конвертации даты для переменной currentDate 
    <conversionRule conversionWord="currentDate" converterClass="ch.qos.logback.core.pattern.DateConverter">
        <converter>  Задаем формат даты
            <dateFormat>yyyy-MM-dd</dateFormat>  Формат даты
        </converter>
    </conversionRule> -->

    <property name="LOG_PATH" value="logs/diploma.log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
