<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Cells Chart</title>
    <!-- Подключение Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1 class="text-center mt-5">График свободных и занятых ячеек складов</h1>
    </header>
    <!-- Контейнер для графика -->
    <canvas id="cellsChart" width="800" height="400"></canvas>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var warehouseLabels = /*[[${#strings.join(chartsData.![name], ',')}]]*/ [];
        var freeCellsData = /*[[${#strings.join(chartsData.![freeCells], ',')}]]*/ [];
        var occupiedCellsData = /*[[${#strings.join(chartsData.![occupiedCells], ',')}]]*/ [];

        console.log("Labels: " + warehouseLabels);


        var warehouseData = {
            labels: warehouseLabels,
            datasets: [{
                label: 'Свободные ячейки',
                backgroundColor: 'rgba(54, 162, 235, 0.5)', // Голубой цвет для свободных ячеек
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                data: freeCellsData
            }, {
                label: 'Занятые ячейки',
                backgroundColor: 'rgba(255, 99, 132, 0.5)', // Красный цвет для занятых ячеек
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1,
                data: occupiedCellsData
            }]
        };

        // Опции графика
        var chartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Склады'
                    }
                },
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Количество ячеек'
                    }
                }
            }
        };

        var cellsChartCanvas = document.getElementById('cellsChart').getContext('2d');
        var cellsChart = new Chart(cellsChartCanvas, {
            type: 'bar',
            data: warehouseData,
            options: chartOptions
        });
        /*]]>*/
    </script>

</body>
</html>
