<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <!-- Подключение Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
    <!-- Стили для карты -->
    <style>
        #map { height: 600px; }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>
    <header>
        <h1 class="text-center mt-5">Карта складов и заказов</h1>
    </header>
    <!-- Контейнер для карты -->
    <div id="map"></div>

    <!-- Подключение Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script th:inline="javascript">
        // Создание иконок для маркеров
        var orderIcon = L.icon({
            iconUrl: 'https://cdn-icons-png.flaticon.com/128/5582/5582962.png',
            iconSize: [35, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var warehouseIcon = L.icon({
            iconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon-2x.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        // Инициализация карты
        var map = L.map('map').setView([55.7558, 37.6173], 13); // Установка начального центра карты на Москву и масштаба

        // Добавление тайлов (основной слой карты)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        /* Передача координат заказов из модели в JavaScript */
        var orderCoordinates = /*[[${orderCoordinates}]]*/ [];
        
        /* Создание маркеров на карте для каждой координаты заказа */
        orderCoordinates.forEach(function(coordinate) {
            var coords = coordinate.split(',');
            var lat = parseFloat(coords[0]);
            var lng = parseFloat(coords[1]);
            
            var orderMarker = L.marker([lat, lng], {icon: orderIcon}).addTo(map);
            orderMarker.bindPopup("<b>Order</b><br>Order details here.");
        });
        // Пример добавления маркера для склада
        var warehouseMarker = L.marker([55.654342, 37.727333], {icon: warehouseIcon}).addTo(map); // Координаты для Москвы
        warehouseMarker.bindPopup("<b>Warehouse</b><br>Warehouse details here."); // Добавление всплывающего окна с деталями склада
    </script>
    <div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>
